[project]
name = "my-project"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "fastapi>=0.128.0",
    "pandas>=2.3.3",
    "sqlalchemy>=2.0.45",
]

[tool.uv.workspace]
members = [
    "another_project",
]
